@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #c2dfda;

  color: #616779;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.o-t-header.is-open .o-t-header-background {
  left: 0;
}
.o-t-header-button-wrapper {
  margin-left: auto;
}
.o-t-header-icon {
  display: none;
}

.o-t-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.o-t-navigation-list.is-open {
  right: 0;
}
.o-t-header-icon-menu {
  display: block;
}

.o-t-header-icon-button.is-open .o-t-header-icon-menu {
  display: none;
}

.o-t-header-icon-button.is-open .o-t-header-icon-close {
  display: block;
}

.o-t-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: auto;
  background: transparent;
}

.o-t-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: #d3efea;
}
.o-t-header.is-open .o-t-header-background {
  left: 0;
}
.o-t-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.o-t-header-icon-menu {
  display: block;
}

.o-t-header-icon-button.is-open .o-t-header-icon-menu {
  display: none;
}

.o-t-header-icon-button.is-open .o-t-header-icon-close {
  display: block;
}

.o-t-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 42px 42px 0 0;
  position: relative;
}

.o-t-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: auto;
  transition: 0.3s;
  z-index: 999;
  padding: 95px 0px 95px 121px;

  gap: 34px;
  background: #d3efea;
}

.o-t-navigation-list.is-open {
  right: 0;
}

.o-t-navigation-link {
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  color: #616779;
}

.o-t-navigation-link:hover,
.o-t-navigatioт-link:focus {
  color: #22d3a6;
}

.o-t-header.is-open {
  background-color: transparent;
}

.o-t-navigation-img {
  display: none;
}

@media screen and (min-width: 1209px) {
  .o-t-navigation-img {
    display: block;
  }
  .o-t-policy-terms-header-icon-menu {
    display: none;
  }
  .o-t-header-button-wrapper {
    display: none;
  }
  .o-t-header {
    width: 100%;
    height: 70px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .o-t-header-icon-button {
    display: none;
  }
  .o-t-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    padding: 0 0px;
    margin: auto;
  }

  .o-t-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 69px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .o-t-navigation-link {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .o-t-navigation-link:hover,
  .o-t-navigation-link:focus {
  }

  .o-t-navigation-item-desk {
    display: none;
  }
}

.o-t-home {
  width: 375px;
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Home\ mobile.png");
  margin: auto;
  padding: 132px 20px;
}

.o-t-home-title-img {
  width: 335px;
}

@media screen and (min-width: 1209px) {
  .o-t-home {
    width: auto;
    height: 823px;
    background-image: url("/img/Home.png");
    padding: 218px 80px;
  }

  .o-t-home-title-img {
    width: 738px;
  }
}

.o-t-about-container {
  width: 375px;
  padding: 80px 19px 0px;
  margin: auto;
}
.o-t-about-title {
  font-family: Manrope;
  font-weight: 700;
  font-style: Bold;
  font-size: 36px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  color: #22d3a6;
}
.o-t-about-text {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;

  padding-top: 28px;
}

.o-t-about-text-bold {
  font-family: Inter;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1209px) {
  .o-t-about-container {
    width: 1440px;
    padding: 150px 300px 0;
  }
  .o-t-about-title {
    font-family: Manrope;
    font-weight: 700;
    font-style: Bold;
    font-size: 36px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
  .o-t-about-text {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;

    padding-top: 28px;
  }

  .o-t-about-text-bold {
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
}

.o-t-why-container {
  width: 375px;
  margin: auto;
  padding: 80px 20px 0;
}
.o-t-why-list {
  padding-top: 28px;
}
.o-t-why-lists {
  display: none;
}
.o-t-why-item {
  background: #d3efea;
  width: 197px;
  height: 298px;
  border-radius: 28px;
  padding: 16px 10px;
  margin: 0 10px;
}
.o-t-why-item-two {
  border: 2px dashed #f4ff00;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 177px;
  height: 266px;
  gap: 5px;
  border-radius: 18px;
  padding: 12px;
  border-width: 2px;
  border-style: dashed;
}
.o-t-why-img {
  width: 153px;
  border-radius: 6px;
}

.o-t-why-text {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1209px) {
  .o-t-why-container {
    width: 1440px;
    padding: 150px 80px 0;
  }

  .o-t-why-list {
    display: none;
  }
  .o-t-why-lists {
    display: flex;
    gap: 20px;
    padding-top: 34px;
  }
  .o-t-why-item {
    margin: 0;
  }
}
.o-t-uniqueness {
  margin: auto;
  width: 375px;
}
.o-t-uniqueness-container {
  padding: 80px 20px 0;
}
.o-t-uniqueness-list {
  padding-top: 28px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.o-t-uniqueness-item {
  display: flex;
  align-items: center;
  gap: 7px;
}
.o-t-uniqueness-img {
  width: 32px;
}

.o-t-uniqueness-text {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
}
.o-t-uniqueness-text-bold {
  font-family: Manrope;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 16px;
}

@media screen and (min-width: 1209px) {
  .o-t-uniqueness {
    width: auto;
    padding: 150px 0 0 0;
  }
  .o-t-uniqueness-container {
    margin: auto;

    height: 477px;
    background-image: url("/img/Advantages.png");

    padding: 0 459px;
  }
  .o-t-uniqueness-list {
    padding-left: 159px;
    padding-top: 34px;
  }
}
.o-t-how {
  padding-top: 80px;
}
.o-t-how-container {
  margin: auto;
  width: 375px;
  height: 615px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/3\ \(1\).png");
  padding: 0px 20px 0;
}

.o-t-how-text {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 312px;
}

@media screen and (min-width: 1209px) {
  .o-t-how {
    padding-top: 150px;
  }
  .o-t-how-container {
    margin: auto;
    width: 1440px;
    height: 426px;
    background-image: url("/img/3\ \(2\).png");
    padding: 0px 188px 0;
  }

  .o-t-how-text {
    font-family: Manrope;
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
    padding-top: 124px;
    width: 630px;
  }
}

.o-t-faq-container {
  padding: 80px 20px 0px;
  width: 375px;
  margin: auto;
}
.o-t-faq-list {
  padding-top: 28px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.o-t-faq-item {
  padding: 8px 6px;
  border-bottom: 1px solid #22d3a6;
}

.o-t-faq-question {
  display: flex;
  justify-content: space-between;
  align-items: start;
  font-family: Manrope;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  color: #22d3a6;
}

.o-t-faq-answer {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}
.o-t-toggle-button {
  background: none;
  border: none;
  cursor: pointer;
}

.o-t-toggle-button img {
  transition: transform 0.3s ease;
  width: 20px;
}
.o-t-faq-answer {
  max-height: 0;
  overflow: hidden;
  transition:
    max-height 0.4s ease,
    opacity 0.4s ease;
  opacity: 0;
}

.o-t-faq-answer.open {
  max-height: 200px;
  opacity: 1;
  padding-top: 16px;
}

.o-t-toggle-button img.rotated {
  transform: rotate(270deg);
}
@media screen and (min-width: 1209px) {
  .o-t-faq-container {
    padding: 150px 405px 0;
    width: 1440px;
    margin: auto;
  }
  .o-t-faq-list {
    padding-top: 28px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .o-t-faq-item {
    padding: 8px 6px;
    border-bottom: 1px solid #22d3a6;
  }
}

.o-t-gallery-container {
  width: 375px;
  margin: auto;
  padding: 80px 20px 0px;
}
.o-t-gallery-list {
  width: auto;
  padding-top: 28px;
}
.o-t-gallery-lists {
  display: none;
}
.o-t-gallery-item {
  width: 335px;
  height: 191px;
  angle: 0 deg;
  opacity: 1;
  border-radius: 18px;

  overflow: hidden;
  position: relative;
  margin: 0 10px;
}

.o-t-gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media screen and (min-width: 1209px) {
  .o-t-gallery-container {
    width: 1440px;
    margin: auto;
    padding: 150px 80px 0px;
  }

  .o-t-gallery-list {
    display: none;
  }
  .o-t-gallery-lists {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 35px;
  }
  .o-t-gallery-item {
    width: 413px;
    height: 236px;
    margin: 0;
    border-radius: 18px;
  }
}

.o-t-features-container {
  width: 375px;
  margin: auto;
  padding: 80px 16px;
}

.o-t-features-text {
  font-family: Manrope;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;

  text-align: center;
  color: #616779;
  text-decoration: none;
}
.o-t-features-texts {
  padding-top: 32px;
}
@media screen and (min-width: 1209px) {
  .o-t-features-container {
    width: 1440px;
    margin: auto;
    padding: 150px;
  }

  .o-t-features-texts {
    padding-top: 34px;
    text-align: center;
  }
}

.o-t-policy-terms-container {
  padding: 126px 20px 80px;
  width: 375px;
  margin: auto;
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}

.o-t-policy-terms-container h1 {
  color: #22d3a6;
  font-family: Manrope;
  font-weight: 700;
  font-style: Bold;
  font-size: 36px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;

  margin-bottom: 32px;
}
.o-t-policy-terms-container h2 {
  margin-top: 20px;
  font-family: Inter;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}
.o-t-policy-terms-container ul {
  list-style-type: disc;
  margin-left: 20px;
}

.o-t-email-link {
  color: inherit;
  text-decoration: none;
  font-family: Inter;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}
@media screen and (min-width: 1209px) {
  .o-t-policy-terms-container {
    padding: 93px 180px 100px;
    width: 1440px;
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .o-t-policy-terms-container h1 {
    margin-bottom: 34px;
    font-family: Manrope;
    font-weight: 700;
    font-style: Bold;
    font-size: 36px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
  .o-t-policy-terms-container h2 {
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }
}

.o-t-footer-container {
  width: 375px;
  background: #22d3a6;

  padding: 33px 20px;
  margin: auto;
  display: flex;
  flex-direction: column;

  gap: 18px;
}

.o-t-footer-wrapper {
  display: flex;
  flex-direction: column;

  gap: 16px;
}

.o-t-footer-text {
  text-decoration: none;
  color: inherit;
  font-family: Manrope;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  color: #f4ff00;
}

.o-t-footer-copyright {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  color: #f4ff00;
}

@media screen and (min-width: 1209px) {
  .o-t-footer-container {
    width: 1440px;
    padding: 46px 180px;
    display: flex;

    justify-content: center;
    align-items: center;
    gap: 50px;
  }

  .o-t-footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 291px;
  }

  .o-t-footer-text {
    font-family: Manrope;
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .o-t-footer-copyright {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
}

.o-t-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 38px 22px;
  background: #d3efea;
  z-index: 1000;
  display: none;
}

.o-t-cookie-popup-text-two {
  font-family: Inter;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}

.o-t-cookie-button-container {
  padding: 30px 0 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.o-t-cookie-button {
  border: none;
  background-color: transparent;
  border: 1px solid #616779;
  width: 295px;
  height: 78px;
  angle: 0 deg;
  opacity: 1;
  padding-top: 24px;
  padding-bottom: 24px;
  color: #616779;
  border-radius: 40px;
  font-family: Manrope;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}

#accept-cookies {
  background: #616779;
  color: #d3efea;
}

.o-t-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1209px) {
  .o-t-cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .o-t-cookie-popup-text-two {
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;

    width: 590px;
  }

  .o-t-cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 26px;
  }

  .o-t-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 20px 34px;
    display: none;
  }
}
